/* Coolors Exported Palette - coolors.co/f4142e-e55e6b-fffaf0-2b59c3-37945b */
/* Coolors Exported Palette - coolors.co/f4142e-7be0ad-fffaf0-ff934f-ce84ad */
/* RGB */
.bcolor1 {
  background-color: #f4142e; }

.bcolor2 {
  background-color: #e55e6b; }

.bcolor3 {
  background-color: floralwhite; }

.bcolor4 {
  background-color: #2b59c3; }

.bcolor5 {
  background-color: #37945b; }

.bcolor6 {
  background-color: #ce84ad; }

.bcolor7 {
  background-color: #ff934f; }

.bcolor8 {
  background-color: #7be0ad; }
