@import url("https://fonts.googleapis.com/css?family=Kanit:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
body {
  font-family: "Kanit", sans-serif;
  background-color: floralwhite; }

.headline {
  text-align: center;
  margin-bottom: 20px; }

.row.colorblocks {
  color: floralwhite; }
  .row.colorblocks [class*=" col-"] {
    height: 250px;
    text-align: center; }
    .row.colorblocks [class*=" col-"] h4 {
      margin-top: 30px; }
    .row.colorblocks [class*=" col-"] p {
      margin-top: 25px; }

.solutions {
  margin-top: 50px; }

header.singlepage {
  height: 300px;
  text-align: center; }
  header.singlepage p {
    width: 700px;
    margin: auto; }
  header.singlepage h1 {
    margin: auto;
    width: 900px;
    margin-top: 50px;
    margin-bottom: 30px; }

.customers {
  margin-top: 75px; }
  .customers div.row div.col {
    text-align: center;
    margin-bottom: 15px; }
  .customers div.row div.col-6 {
    padding-left: 0px;
    padding-right: 0px; }
    .customers div.row div.col-6 div.imgtext img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto; }
    .customers div.row div.col-6 div.imgtext div {
      background-color: floralwhite;
      padding: 12px 13px 2px 25px;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 48px;
      width: 174px;
      display: block; }
    .customers div.row div.col-6 .img-body {
      background-color: black;
      height: 20px;
      width: 20px;
      position: absolute;
      text-align: center;
      padding: 15px 0px;
      display: block;
      opacity: 0;
      visibility: hidden; }

nav ul {
  margin: 0px auto;
  padding: 0px 5px; }

nav li {
  font-family: "Kanit", sans-serif;
  color: floralwhite;
  margin: 0px auto;
  padding: 0px 5px; }

nav a {
  font-family: "Kanit", sans-serif;
  color: floralwhite;
  margin: 0px, 5px; }

.navbar-inverse {
  background-color: #f4142e; }

.jumbotron {
  background: #e55e6b;
  color: floralwhite;
  height: 220px; }

.row-header {
  margin: 0px auto;
  padding: 0px 190px;
  text-align: center; }

.row-content {
  margin: 0px auto;
  padding: 5px 0px;
  border-bottom: 1px ridge; }

.row-content-open {
  margin: 0px auto;
  padding: 5px 0px; }

.row-oneline {
  margin: 30px -30px 25px -30px;
  padding: 0px 0px 15px 0px;
  text-align: center;
  color: #f4142e;
  border-bottom: 1px ridge; }

.footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #f4142e; }

.color-medical {
  color: #f4142e; }

.carousel {
  background: #e55e6b;
  color: floralwhite;
  border-radius: 55px;
  overflow: hidden;
  width: 700px;
  margin: auto; }
  .carousel .carousel-item {
    height: 250px; }
  .carousel a {
    color: floralwhite; }

.solution-card {
  color: floralwhite;
  width: 850px;
  border-radius: 50px; }
  .solution-card .card-header {
    background-color: #f4142e; }
  .solution-card .card-body {
    background-color: #e55e6b; }

.services-tab {
  text-align: center; }
  .services-tab .col-4 {
    margin-bottom: 1.5rem; }
    .services-tab .col-4 p {
      margin-right: .75rem;
      margin-left: .75rem; }
    .services-tab .col-4 img {
      width: 120px;
      height: 120px;
      border: solid; }
    .services-tab .col-4 .btn-medical {
      color: floralwhite;
      background-color: #f4142e; }

.processblock1 {
  border-radius: 10px;
  background-color: #bf504d;
  margin: 0px auto;
  padding: 5px 10px;
  width: 100px;
  height: 100px; }

.processblock2 {
  border-radius: 10px;
  background-color: #bf504d;
  margin: 0px auto;
  padding: 5px 10px;
  margin: 0px, 50px;
  width: 100px;
  height: 100px; }

.processblock3 {
  border-radius: 10px;
  background-color: #bf504d;
  margin: 0px auto;
  padding: 5px 10px;
  width: 100px;
  height: 100px; }

.processblock4 {
  border-radius: 10px;
  background-color: #49acc5;
  margin: 0px auto;
  padding: 5px 10px;
  width: 100px;
  height: 100px; }

.processblock5 {
  border-radius: 10px;
  background-color: #f79543;
  margin: 0px auto;
  padding: 5px 10px;
  width: 100px;
  height: 100px; }
