@import url('https://fonts.googleapis.com/css?family=Kanit:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

$color1: rgba(244, 20, 46, 1);
$color2: rgba(229, 94, 107, 1);
$color3: rgba(255, 250, 240, 1);
$color4: rgba(43, 89, 195, 1);
$color5: rgba(55, 148, 91, 1);
$color6: rgba(206, 132, 173, 1);
$color7: rgba(255, 147, 79, 1);
$color8: rgba(123, 224, 173, 1);

$medical-font: 'Kanit', sans-serif;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}   

body {
    font-family: $medical-font;
    background-color: floralwhite;
}

.headline {
    text-align: center;
    margin-bottom: 20px;
}

.row.colorblocks {
    color: floralwhite;

    [class*=" col-"] {
        height: 250px;
        text-align: center;
        
        h4 {
            margin-top: 30px;
        }

        p {
            margin-top: 25px;
        }
    }
}

.solutions {
    margin-top: 50px;
}

header.singlepage {
    height: 300px;
    text-align: center;

    p {
        width: 700px;
        margin: auto;
    }

    h1 {
        margin: auto;
        width: 900px;
        margin-top: 50px;
        margin-bottom: 30px
    }
}

.customers {
    margin-top: 75px;

    div.row {

        div.col {
            text-align: center;
            margin-bottom: 15px;
        }

        div.col-6 { 
            padding-left: 0px;
            padding-right: 0px;

            div.imgtext {

                img {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }

                div {
                    background-color: $color3;
                    padding: 12px 13px 2px 25px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 48px;
                    width: 174px;
                    display: block;
                }
            }
            .img-body {
                background-color: black;
                height: 20px;
                width: 20px;
                position: absolute;
                text-align: center;
                padding: 15px 0px;
                display: block;
                opacity: 0;
                visibility: hidden;

            }
            
        }
    }
}
nav {
    ul {
        @include zero-margin(0px, 5px);
    }
  
    li {
        font-family: $medical-font;
        color: floralwhite;
        @include zero-margin(0px, 5px);
    }
  
    a {
      font-family: $medical-font;
      color: floralwhite;
      margin: 0px, 5px;
    }
}

.navbar-inverse {
    background-color: $color1;
}

.jumbotron {
    background: $color2;
    color: floralwhite;
    height: 220px;
}

.row-header {
    @include zero-margin(0px, 190px);
    text-align: center;
}

.row-content {
    @include zero-margin(5px,0px);
    border-bottom: 1px ridge;
}

.row-content-open {
    @include zero-margin(5px,0px);
}

.row-oneline {
    margin: 30px -30px 25px -30px;
    padding: 0px 0px 15px 0px;
    text-align: center;
    color: $color1;
    border-bottom: 1px ridge;
}

.footer{
    @include zero-margin(20px, 0px);
    background-color: $color1;
}

.color-medical {
    color: $color1;
}

.carousel {
    background: $color2;
    color:  floralwhite;
    border-radius: 55px;
    overflow: hidden;
    width: 700px;
    margin: auto;

    .carousel-item {
        height: 250px;
    }

    a {
        color: floralwhite;
    }
}

.solution-card {
    color: floralwhite;
    width: 850px;
    border-radius: 50px;

    .card-header {
        background-color: $color1;
    }

    .card-body {
        background-color: $color2;
    }
}

.services-tab {
    text-align: center;

    .col-4 {
        margin-bottom: 1.5rem;

        p {
            margin-right: .75rem;
            margin-left: .75rem;
        }

        img {
            width: 120px;
            height: 120px;
            border: solid;
        }             

        .btn-medical {
            color: floralwhite;
            background-color: $color1
        }
    }
}


.processblock1 {
    border-radius: 10px;
    background-color: #bf504d;
    @include zero-margin(5px,10px);
    width: 100px;
    height: 100px; 
}

.processblock2 {
    border-radius: 10px;
    background-color: #bf504d;
    @include zero-margin(5px,10px);
    margin: 0px, 50px;
    width: 100px;
    height: 100px; 
}

.processblock3 {
    border-radius: 10px;
    background-color: #bf504d;
    @include zero-margin(5px,10px);
    width: 100px;
    height: 100px; 
}

.processblock4 {
    border-radius: 10px;
    background-color: #49acc5;
    @include zero-margin(5px,10px);
    width: 100px;
    height: 100px; 
}

.processblock5 {
    border-radius: 10px;
    background-color: #f79543;
    @include zero-margin(5px,10px);
    width: 100px;
    height: 100px; 
}