body {
  font-family: "Open Sans";
  background-color: floralwhite; }

nav ul {
  margin: 0px auto;
  padding: 0px 5px; }

nav li {
  font-family: "Open Sans";
  color: floralwhite;
  margin: 0px auto;
  padding: 0px 5px; }

nav a {
  font-family: "Open Sans";
  color: floralwhite;
  margin: 0px, 5px; }

.navbar-inverse {
  background-color: #f4142e; }

.jumbotron {
  background: #ff8080;
  color: floralwhite;
  height: 220px; }

.row-header {
  margin: 0px auto;
  padding: 0px 190px;
  text-align: center; }

.row-content {
  margin: 0px auto;
  padding: 5px 0px;
  border-bottom: 1px ridge; }

.row-content-open {
  margin: 0px auto;
  padding: 5px 0px; }

.row-oneline {
  margin: 30px -30px 25px -30px;
  padding: 0px 0px 15px 0px;
  text-align: center;
  color: #f4142e;
  border-bottom: 1px ridge; }

.footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #f4142e; }

.color-medical {
  color: #f4142e; }

.carousel {
  background: #ff8080;
  color: floralwhite;
  border-radius: 55px;
  overflow: hidden;
  width: 700px;
  margin: auto; }
  .carousel .carousel-item {
    height: 250px; }
  .carousel a {
    color: floralwhite; }

.solution-card {
  color: floralwhite;
  width: 850px;
  border-radius: 50px; }
  .solution-card .card-header {
    background-color: #f4142e; }
  .solution-card .card-body {
    background-color: #ff8080; }

.processblock1 {
  border-radius: 10px;
  background-color: #bf504d;
  margin: 0px auto;
  padding: 5px 10px;
  width: 100px;
  height: 100px; }

.processblock2 {
  border-radius: 10px;
  background-color: #bf504d;
  margin: 0px auto;
  padding: 5px 10px;
  margin: 0px, 50px;
  width: 100px;
  height: 100px; }

.processblock3 {
  border-radius: 10px;
  background-color: #bf504d;
  margin: 0px auto;
  padding: 5px 10px;
  width: 100px;
  height: 100px; }

.processblock4 {
  border-radius: 10px;
  background-color: #49acc5;
  margin: 0px auto;
  padding: 5px 10px;
  width: 100px;
  height: 100px; }

.processblock5 {
  border-radius: 10px;
  background-color: #f79543;
  margin: 0px auto;
  padding: 5px 10px;
  width: 100px;
  height: 100px; }
